ul,
p,
h1,
h2,
h3,
li {
    list-style: none;
    padding: 0;
    margin: 0;
    text-decoration: none;
}

.container {
    width: 1030px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}
/*header*/

header{
    background:rgba(43, 74, 97, 0.87) ;

    padding-top: 38px;
    padding-bottom: 36px;
    border-bottom: 3px solid white;

    display: flex;
    align-items: center;

    font-family: Inter;
}

.switch{
    margin-left: 49px;
}

nav{
    display: flex;
    align-items: center;
}

.nav-list{
    display: flex;
    margin-left:165px ;

}

.nav-item:not(:first-child){
    margin-left: 40px;
}
.nav-link:link,
.nav-link:visited,
.nav-link:hover,
.nav-link:active{
    text-decoration: none;
}
.nav-link{
    font-family: Inter;
        font-size: 20px;
        font-weight: 300;
        line-height: 24px;
        letter-spacing: 0em;
        text-align: center;
        color: rgba(255, 255, 255, 1);
}

.nav-button
{
    width: 141px;
     height: 41.69355010986328px;
     top: 54px;
      left: 1095px;
       border-radius: 35px 0px 35px 0px;
       border-style: none;
       color: rgba(38, 198, 234, 1);
       background-color:rgba(11, 14, 102, 1) ;
    border: 2px solid rgba(38, 199, 234, 1);

    margin-left: auto;
    }



.nav-link{
    display: flex;
    justify-content: space-around;
    font-family: Inter;
    font-size: 20px;
   font-weight: 300;
    line-height: 24px;
   letter-spacing: 0em;
    text-align: center;

    color: rgba(255, 255, 255, 1);
}

.nav-link:hover,
.nav-link:focus{
    color: rgba(148, 207, 255, 1);
}

.nav-item{
    display: flex;
    justify-content: space-around;
}
/*hero*/
.hero{
    background-image: url(./icons/Group\ 48\ 1.jpg);
    background-repeat: no-repeat;
}

.side-container{
    width: 376px; ;
    height: 381px;
    padding-top: 180px;
    
}

.text-hero{
    font-family: Inter;
    font-weight: 400;
    font-size: 20px;
    line-height: 24.2px;

    color: rgba(255, 255, 255, 1);
    margin-bottom: 42px;
}

.button-hero{
    font-family: HeadlandOne;
    font-size: 24px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: center;
    color: rgba(38, 199, 234, 1);
    background-color: rgba(11, 14, 102, 1);
    border-style: none;
    border: 3px solid rgba(38, 199, 234, 1);
    Width: 199px;
    Height: 60px;
     top: 631px; left: 204px;
     border-radius: 45px 0px 45px 0px;

}

.button-hero-container{
    /*width: 260px;
        height: 80px;*/
}

.app-icons-container{
    display: flex;
    justify-content: flex-end;
}

.icons-list{
    padding-bottom: 25px; 
    padding-right:204px ;
}



.nav-link{
    display: flex;
    align-items: center;
}

.nav-item{
        font-weight: 300;
        
}

.text-hero{

}

/*Quote section*/
.quote-section{

     background-color: rgba(255, 255, 255, 1); 

        color: rgba(10, 56, 83, 1);
        padding-top: 75px;
        padding-bottom: 10px;
        text-align: center;


}

.quote-title{
    font-weight: 400px;
    font-size: 36px;
    line-height: 43.57px;

}

.quote-name{
    font-size: 24px;
    line-height: 29.05px;

}

/*trailer-section*/
.trailer-section{
background-image: url(./icons/Rectangle\ 10.jpg);
width: 1440px;
height: 741px;

display: flex;
align-items: center;
margin-left: auto;
margin-right: auto;

}

.trailer-button{
    display: flex;
    align-items: center;
    justify-content: center;

    width: 260px;
     height: 80px;
        border-radius: 45px 0px 45px 0px ;
        color: rgba(38, 199, 234, 1);
        background-color: rgba(11, 14, 102, 1);
        border-style: none;
        border: 3px solid rgba(38, 199, 234, 1);
}